.rodape__final{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rodape__titulo--final{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-top: 80px;
}

.rodape__final--icones{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1em;
}