.rodape__contato{
    display: flex;
    gap: 60px;
}


@media screen and (min-width: 0) {
    .rodape__contato{
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    .rodape__contato{
        flex-direction: row;
    }
}
