.quem-somos__descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding-top: 56px;
    padding-bottom: 56px;
}

.quem-somos__titulo{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin: 0;

}

.quem-somos__texto{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color:#0D242E;
}

.quem-somos__botao{
    border-style: none;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    outline: none;
    background: #3FBDF1;
    width: 341.88px;
    height: 50px;
    padding: 10px 54px;

}

.quem-somos__botao:hover{
    background: #52c2f1;
    cursor: pointer;
}


@media screen and (min-width: 0) {
    .quem-somos__texto{
        font-size: 1.1rem;
    }

    .quem-somos__descricao{
        width: 550px;

    }
}

@media screen and (min-width: 1200px) {
    .quem-somos__texto{
        font-size: 1.2rem;

    }

    .quem-somos__descricao{
        width: 895px;

    }
}